<!-- content @s -->
<div class="nk-split-content nk-block-area nk-block-area-column bg-white mt-5 justify-center !important">
    <div class="nk-block-head nk-block-head-sm">
        <div class="justify-center">
            <img src="./assets/images/logo-home.png" srcset="./assets/images/logo-home.png" alt="logo-home" width="400"
                height="100">
        </div>

        <div class="nk-block-between g-3 justify-center">

            <div class="nk-block-head-content">
                <!-- <h3 class="nk-block-title page-title align-center">Comunicados</h3> -->
                <div class="nk-block-des text-soft">
                    <h5>Bienvenido al Sistema de Postulaciones de la <br> Dirección General de Formación de Maestros</h5>
                </div>
            </div>
        </div>
      
    </div><!-- .nk-block-head -->

    <app-card-publication>

    </app-card-publication>
</div>
<!-- content @e -->