<div class="card card-bordered" *ngIf="publications.length > 0">
    <div class="card-inner card-inner-lg">
        <div class="row g-gs">
            <div class="col-sm-3" *ngFor="let publication of publications">
                <div class="card bg-light">
                    <div class="card-header">Fecha: {{ publication.date_publication| date: 'dd/MM/yyyy' }}</div>
                    <div class="card-inner">
                        <h6 class="card-title">{{ publication.title }}</h6>
                        <p class="card-text">{{ publication.description }}
                        </p>
                        <div>
                            <a target="_blank" [attr.href]="urlUpload + publication?.file_url"><button
                                    mat-stroked-button color="primary">
                                    <mat-icon>download</mat-icon>Descargar
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-bordered" *ngIf="publications.length == 0">
    <p>No existen comunicados disponibles</p>
</div>