<div class="card card-full">


    <div class="card-inner ">

        <div class="user-card" *ngIf="announcement">
            <div class="gallery card">

                <a class="gallery-image popup-image" [href]="urlUpload + announcement.image_url">
                    <img class="w-100 rounded-top" [src]="urlUpload + announcement.image_url" alt="">
                </a>
                <div class="gallery-body card-inner align-center justify-between flex-wrap g-6">
                    <div class="user-card">

                        <div class="user-info">
                            <span class="lead-text">COMUNICADO</span>
                            <span class="sub-text">ES UN COMUNICADO</span>

                            <a target="_blank" [attr.href]="urlUpload + announcement.file_url"><button
                                    mat-stroked-button color="primary">
                                    <mat-icon>download</mat-icon>Descargar
                                </button></a>
                        </div>
                    </div>

                </div>



            </div>

        </div><!-- .user-card -->
    </div>
</div>