<h2 mat-dialog-title>Cambiar Contraseña
    </h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)">
              La contraseña es requerida, min 1 caracter
            </mat-error>
          </mat-form-field>
    
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
      <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
      <button type="submit" mat-stroked-button color="primary"> 
        Guardar Cambios
       </button>
    </mat-dialog-actions>
    </form>