<div class="nk-sidebar-element">
    <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu" data-simplebar>
            <ul class="nk-menu">
                <!-- <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Menú prinipal</h6>
                </li> 
                <li class="nk-menu-item" routerLinkActive="active">
                    <a routerLink="/admin/dashboard" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-bag"></em></span>
                        <span class="nk-menu-text">Dashboard</span>
                    </a>
                </li> 
                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/postulation" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-book-read"></em></span>
                        <span class="nk-menu-text">Postulacion</span>
                    </a>
                </li> 

                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Administrar Postulaciones</h6>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/inbox"  class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-inbox"></em></span>
                        <span class="nk-menu-text">Bandeja </span>
                    </a>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/tracking" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-eye"></em></span>
                        <span class="nk-menu-text">Seguimiento </span>
                    </a>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active">
                    <a  routerLink="/admin/applicant" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-user"></em></span>
                        <span class="nk-menu-text">Postulantes </span>
                    </a>
                </li> 


                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Administrar</h6>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/announcement" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Convocatorias</span>
                    </a>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/commission" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Mis Comisiones</span>
                    </a>
                </li> 

                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Parametricas</h6>
                </li> 


                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/institution-type" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Tipos de Institución</span>
                    </a>
                </li>


                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/institution" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Instituciones</span>
                    </a>
                </li>


                

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/position" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Cargos</span>
                    </a>
                </li>

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/position-type" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Tipos de Cargos</span>
                    </a>
                </li>

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/institution-position" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Instituciones y Cargos</span>
                    </a>
                </li> 

                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Biblioteca de preguntas</h6>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/question-category" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Categorias</span>
                    </a>
                </li>

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/question" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Banco de Preguntas</span>
                    </a>
                </li>

                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">ADM. Examenes</h6>
                </li> 

                <li class="nk-menu-item " routerLinkActive="active"  >
                    <a routerLink="/admin/test" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Examen</span>
                    </a>
                </li>
             
                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Roles y Permisos</h6>
                </li> 


                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/user" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Usuarios</span>
                    </a>
                </li>

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/role-menu" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Roles y menus</span>
                    </a>
                </li>

                <li class="nk-menu-item " routerLinkActive="active">
                    <a routerLink="/admin/employee" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-file"></em></span>
                        <span class="nk-menu-text">Empleados</span>
                    </a>
                </li> -->

                <!--------------------------------------------------------------->

                <!--Menú prinipal-->
                <li class="nk-menu-heading" *ngIf="(menus | verifyGroup:'menu-prinipal')" >
                    <h6 class="overline-title text-primary-alt">Menú prinipal  </h6>
                </li>
                <li class="nk-menu-item " [ngClass]="{'has-sub': menu.sub_menus.length!=0}"  *ngFor="let menu of menus | filterGroup:'menu-prinipal'"   >
                    <a href="#" class="nk-menu-link nk-menu-toggle" *ngIf="menu.sub_menus.length!=0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <a [routerLink]="menu.url" class="nk-menu-link " *ngIf="menu.sub_menus.length==0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <ul class="nk-menu-sub" *ngIf="menu.sub_menus.length!=0" >
                        <li class="nk-menu-item" *ngFor="let subMenu of menu.sub_menus">
                            <a [routerLink]="subMenu.url" class="nk-menu-link"><span class="nk-menu-text">{{subMenu.name}}</span></a>
                        </li>  
                    </ul>
                </li>


                <!--Administrar Postulaciones-->
                <li class="nk-menu-heading" *ngIf="(menus | verifyGroup:'administrar-postulaciones')" >
                    <h6 class="overline-title text-primary-alt">Administrar Postulaciones  </h6>
                </li>
                <li class="nk-menu-item " [ngClass]="{'has-sub': menu.sub_menus.length!=0}"  *ngFor="let menu of menus | filterGroup:'administrar-postulaciones'"   >
                    <a href="#" class="nk-menu-link nk-menu-toggle" *ngIf="menu.sub_menus.length!=0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <a [routerLink]="menu.url" class="nk-menu-link " *ngIf="menu.sub_menus.length==0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <ul class="nk-menu-sub" *ngIf="menu.sub_menus.length!=0" >
                        <li class="nk-menu-item" *ngFor="let subMenu of menu.sub_menus">
                            <a [routerLink]="subMenu.url" class="nk-menu-link"><span class="nk-menu-text">{{subMenu.name}}</span></a>
                        </li>  
                    </ul>
                </li>

                 <!--Administrar-->
                 <li class="nk-menu-heading" *ngIf="(menus | verifyGroup:'administrar')" >
                    <h6 class="overline-title text-primary-alt">Administrar</h6>
                </li>
                <li class="nk-menu-item " [ngClass]="{'has-sub': menu.sub_menus.length!=0}"  *ngFor="let menu of menus | filterGroup:'administrar'"   >
                    <a href="#" class="nk-menu-link nk-menu-toggle" *ngIf="menu.sub_menus.length!=0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <a [routerLink]="menu.url" class="nk-menu-link " *ngIf="menu.sub_menus.length==0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <ul class="nk-menu-sub" *ngIf="menu.sub_menus.length!=0" >
                        <li class="nk-menu-item" *ngFor="let subMenu of menu.sub_menus">
                            <a [routerLink]="subMenu.url" class="nk-menu-link"><span class="nk-menu-text">{{subMenu.name}}</span></a>
                        </li>  
                    </ul>
                </li>


                <!--Parametricas-->
                <li class="nk-menu-heading" *ngIf="(menus | verifyGroup:'parametricas')" >
                    <h6 class="overline-title text-primary-alt">Parametricas  </h6>
                </li>
                <li class="nk-menu-item " [ngClass]="{'has-sub': menu.sub_menus.length!=0}"  *ngFor="let menu of menus | filterGroup:'parametricas'"   >
                    <a href="#" class="nk-menu-link nk-menu-toggle" *ngIf="menu.sub_menus.length!=0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <a [routerLink]="menu.url" class="nk-menu-link " *ngIf="menu.sub_menus.length==0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <ul class="nk-menu-sub" *ngIf="menu.sub_menus.length!=0" >
                        <li class="nk-menu-item" *ngFor="let subMenu of menu.sub_menus">
                            <a [routerLink]="subMenu.url" class="nk-menu-link"><span class="nk-menu-text">{{subMenu.name}}</span></a>
                        </li>  
                    </ul>
                </li>


                 <!--Biblioteca de preguntas-->
                 <li class="nk-menu-heading" *ngIf="(menus | verifyGroup:'biblioteca-de-preguntas')" >
                    <h6 class="overline-title text-primary-alt">Biblioteca de preguntas  </h6>
                </li>
                <li class="nk-menu-item " [ngClass]="{'has-sub': menu.sub_menus.length!=0}"  *ngFor="let menu of menus | filterGroup:'biblioteca-de-preguntas'"   >
                    <a href="#" class="nk-menu-link nk-menu-toggle" *ngIf="menu.sub_menus.length!=0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <a [routerLink]="menu.url" class="nk-menu-link " *ngIf="menu.sub_menus.length==0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <ul class="nk-menu-sub" *ngIf="menu.sub_menus.length!=0" >
                        <li class="nk-menu-item" *ngFor="let subMenu of menu.sub_menus">
                            <a [routerLink]="subMenu.url" class="nk-menu-link"><span class="nk-menu-text">{{subMenu.name}}</span></a>
                        </li>  
                    </ul>
                </li>


                <!--Roles y Permisos-->
                <li class="nk-menu-heading" *ngIf="(menus | verifyGroup:'roles-y-permisos')" >
                    <h6 class="overline-title text-primary-alt">Roles y Permisos </h6>
                </li>
                <li class="nk-menu-item " [ngClass]="{'has-sub': menu.sub_menus.length!=0}"  *ngFor="let menu of menus | filterGroup:'roles-y-permisos'"   >
                    <a href="#" class="nk-menu-link nk-menu-toggle" *ngIf="menu.sub_menus.length!=0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <a [routerLink]="menu.url" class="nk-menu-link " *ngIf="menu.sub_menus.length==0" >
                        <span class="nk-menu-icon"><mat-icon >{{menu.icon}}</mat-icon></span>
                        <span class="nk-menu-text">{{menu.name}}</span>
                    </a>
                    <ul class="nk-menu-sub" *ngIf="menu.sub_menus.length!=0" >
                        <li class="nk-menu-item" *ngFor="let subMenu of menu.sub_menus">
                            <a [routerLink]="subMenu.url" class="nk-menu-link"><span class="nk-menu-text">{{subMenu.name}}</span></a>
                        </li>  
                    </ul>
                </li>






            </ul><!-- .nk-menu -->
        </div><!-- .nk-sidebar-menu -->
    </div><!-- .nk-sidebar-content -->
</div>