<br><br><br>
<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <br>
                        <div class="nk-block-head-sub"><a class="back-to" routerLink="/admin/postulation"><em
                                    class="icon ni ni-arrow-left"></em><span>Volver a la lista</span></a>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="nk-block nk-block-lg">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h4 class="title nk-block-title">¿Realizar Evaluación ahora?</h4>
                            <div class="nk-block-des">
                                <p>Antes de continuar verifique su conexión a internet.  </p>
                            </div>

                        </div>
                    </div>
                    <div class="card card-bordered card-preview">
                        <div class="card-inner">
                            <div class="preview-block">
                             <p>Solo tiene un intento.</p>

                             <button (click)="btnPostulationTestCreate(postulation)" mat-raised-button color="primary">Ir a Evaluación</button>
                            </div>
                        </div>
                    </div><!-- .card-preview -->
                </div>
            </div><!-- .nk-block -->

        </div>
    </div>
</div>